/* ===== RESET / SETUP ===== */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #121212;
}

image {
  display: block;
  max-width: 100%;
}

:root {
  --side-margins: 5%;
  --topnav-height: 4em;
  --text-light: rgba(255, 255, 255, 0.7);
  --raise-one: #222222;
  --raise-two: #2e2e2e;
  --menu-breakpoint: 35em; /* depends on number of menu items & words used */
  /* --space: 0.25rem;
  --threshold: 550px; */
}

@media screen and (min-width: 36em) {
  :root {
    --topnav-height: 6em;
  }
}

.max-width-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.max-width {
  max-width: 75rem;
  width: 100%;
  height: 100%;
  margin: 0 var(--side-margins);
}

.size-cover {
  position: absolute; /*no positioned ancestors, so relative to the document body, and moves along with page scrolling (background only fills one screen, moves up when you scroll down)*/
  top: var(--topnav-height);
  bottom: 0;
  left: 0;
  right: 0;
}

.fillscreen-image {
  background-image: url('https://res.cloudinary.com/dd23iaiap/image/upload/v1594723219/john%20cervantes/2-L1000594_vxkpjx.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 30%;
  height: 100%;
  width: 100%;
}

nav {
  background-color: var(--raise-one);
  height: var(--topnav-height);
  position: fixed;
  top: 0;
  width: 100%;
}

#nav-list {
  /*refactor mobile first */
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding-left: var(--side-margins);
  padding-right: var(--side-margins);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

#nav-list li {
  display: block;
}

a {
  color: var(--text-light);
  text-decoration: none;
}

a:hover {
  color: white;
}

#nav-list a {
  font-size: 2rem;
  font-family: 'Bebas Neue', sans-serif;
  background-image: linear-gradient(white, white);
  background-size: 0 5px;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.2s ease-out;
}

#nav-list a:hover {
  background-size: 100% 5px;
}

#nav-list #hamburger a:hover,
#nav-list a#current-page:hover {
  background-size: 0 5px;
}

#nav-list #current-page {
  color: white;
}

#nav-list #hamburger {
  display: none;
  color: var(--text-light);
}

.icon-container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--text-light);
  margin: 6px 0;
  transition: 0.4s;
}

/* mobile menu */
@media screen and (max-width: 35em) {
  /* default closed */
  #nav-list.closed li {
    display: none;
  }
  #nav-list.closed .remain,
  #nav-list.closed #hamburger {
    display: block;
  }

  /* open */
  nav.mobile {
    height: auto;
  }
  #nav-list.open {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 0.75rem; /*change to lobotomized owl */
  }
  #nav-list.open li {
    display: block;
    padding-top: 0.75rem;
  }
  #nav-list.open #hamburger {
    position: absolute;
    right: var(--side-margins);
  }

  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: white;
  }

  .open .bar2 {
    opacity: 0;
  }

  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: white;
  }
}

footer {
  background-color: var(--raise-one);
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.footer-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-flex a {
  font-size: 2.5rem;
  padding: 0.75rem;
}
