/* ===== FOR EVERY PAGE ===== */

* {
    margin: 0;
    padding: 0;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    width: 100%;
    --side-margins: 5%;
    --topnav-height: 4rem;
    --background-gray: rgb(249,249,249);
    --text-light: rgb(156,152,148);
    --text-blue: rgb(60,137,201);
    --background-gray: var(148,148,148);
    --almost-black: rgb(54,54,54);
}

body {  
    font-family: 'Poppins', sans-serif;
}

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    list-style-type: none;
    padding-left: var(--side-margins);
    padding-right: var(--side-margins);
}

.topnav li {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.topnav a {
    color: var(--almost-black);
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    /*underline effect from center */
    background-image: linear-gradient(var(--text-blue),var(--text-blue));
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.topnav a:hover {
    color: var(--text-blue);
    background-size: 100% 5px, auto;
}

.topnav a::after:hover {
    transform: scaleX(1);
}

.topnav a.current-page {
    color: var(--text-blue);
}

.topnav .icon {
    display: none;
}

/* Small screen menu closed */
@media screen and (max-width: 700px) {
    .topnav li:not(:first-child) {
        display: none;
    }
    .topnav li.icon {
        display: block;
        /* margin-right: var(--side-margins); */
    }
}

/* Small screen menu open */
@media screen and (max-width: 700px) {
    .topnav.responsive {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        padding-bottom: 2rem;
    }
    .topnav.responsive li {
        display: block;
    }
    .topnav.responsive .icon {
        position: fixed;
        top: 0;
        right: var(--side-margins);
    }
}

main {
    margin-left: var(--side-margins);
    margin-right: var(--side-margins);
    margin-top: var(--topnav-height);
}

/* ===== HOME PAGE ===== 

body {
    background-image: url('https://res.cloudinary.com/dd23iaiap/image/upload/v1587207768/John_Trio_live_lo_res_n1r5r2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
}

*/