* {
    margin: 0;
    padding: 0;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --side-margins: 5%;
    --topnav-height: 6rem;
}

/* @media only screen and (max-width: 426px) {
    :root {
      --side-margins: 2%;
    }
} */

body {
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

/* ===== NAVIGATION BAR ===== */

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: var(--topnav-height);
    align-items: center;
    margin-left: var(--side-margins);
    margin-right: var(--side-margins);
    background-color: black;
}

.topnav a {
    display: block;
    color: gray;
    padding: 1.5rem 2rem 1.5rem 0;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}

.topnav a:hover {
    color: white;
}

.topnav a.active {
    color: orange;
}

.topnav .icon {
    display: none;
}

/* Small screen menu closed */
@media screen and (max-width: 800px) {
   .topnav {
    justify-content: space-between;
   }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        display: block;
    }
}

/* Small screen menu open */
@media screen and (max-width: 800px) {
    .topnav.responsive {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }
    .topnav.responsive a {
        display: block;
        padding: 0.5rem 0;
    }
}

/* ===== MAIN ===== */

main {
    margin-left: var(--side-margins);
    margin-right: var(--side-margins);
    margin-top: var(--topnav-height);
  }