/* ===== FOR EVERY PAGE ===== */

* {
    margin: 0;
    padding: 0;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    width: 100%;
    --side-margins: 5%;
    --topnav-height: 6rem;
    --background-gray: rgb(249,249,249);
    --text-blue: rgb(60,137,201);
    --text-light: rgb(148,148,148);
    --almost-black: rgb(54,54,54);
}

body {  
    font-family: 'Poppins', sans-serif;
}

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    height: var(--topnav-height);
    list-style-type: none;
    padding-left: var(--side-margins);
    padding-right: var(--side-margins);
}

.topnav li {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.topnav a {
    color: var(--almost-black);
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    background-image: linear-gradient(var(--text-blue),var(--text-blue));
    background-size: 0 5px;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.topnav a:hover {
    color: var(--text-blue);
    background-size: 100% 5px;
}

.topnav li.icon a:hover {
    background-size: 0 5px, auto;
}

.topnav a.current-page {
    color: var(--text-blue);
}

.topnav .icon {
    display: none;
}

/* Small screen menu closed */
@media screen and (max-width: 45em) {
    .topnav {
        height: auto;
    }
    .topnav li:not(:first-child) {
        display: none;
    }
    .topnav li.icon {
        display: block;
        color: var(--almost-black);
    }
}

/* Small screen menu open */
@media screen and (max-width: 45em) {
    .topnav.responsive {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        padding-bottom: 2rem;
    }
    .topnav.responsive li {
        display: block;
    }
    .topnav.responsive .icon {
        position: fixed;
        top: 0;
        right: var(--side-margins);
        color: var(--text-blue);
    }
}

main {
    margin-left: var(--side-margins);
    margin-right: var(--side-margins);
    margin-top: var(--topnav-height);
}

@media screen and (max-width: 43em) {
    main {
        margin-top: 4rem;
    }
}

/* ===== HOME PAGE ===== */

.desktop-img {
    background-image: url("https://res.cloudinary.com/dd23iaiap/image/upload/v1594723219/john%20cervantes/2-L1000594_vxkpjx.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 30%;
}

.mobile-img {
    display: none;
}